<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManageClinic.Properties.Settings.QLPhongKham" connectionString="Data Source=ASUS\SQLEXPRESS;Initial Catalog=QLPhongKham;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>